textarea{
    height: auto;
    resize: none;
}

a{
    text-decoration: none;
    color:inherit
}

a:hover{
    color: inherit
}

.container-fluid{
    padding: 2% 10%;
}


.dummyContent{
    height:500px;
    background-color: blue;
}

